<!-- src/app/home/home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Figuras Geométricas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Selector Principal de Figura -->
  <ion-item>
    <ion-label>Figura Geométrica</ion-label>
    <ion-select
      [(ngModel)]="figuraSeleccionada"
      placeholder="Escoja una figura"
      interface="popover"
    >
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Mostrar componente según selección -->
  <div [ngSwitch]="figuraSeleccionada" class="ion-margin-top">
    <app-circulo *ngSwitchCase="'circulo'"></app-circulo>
    <app-triangulo *ngSwitchCase="'triangulo'"></app-triangulo>
  </div>
</ion-content>
